/* -- CSS -- */

.wrapper {
    background-color: rgba(5, 5, 12, 1);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .typing-demo h1 {
    color: #ccc6ba;
    width: 11ch;
    animation: typing 1.5s steps(11), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    text-align: center;
    font-family: 'Bodoni Moda', monospace;
    font-weight: thin;
    letter-spacing: .13em;
    font-size: 125px;
  }
  
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }